html * {
    font-family: monospace;
    margin-top: 0;
}

body {
    font-size: 24px;
    text-align: center;
    margin: 0;
    margin-top: 0;
    background-color: #222;
    color: #FFF;
}

a {
    text-decoration: none;
}

a:link {
    color: #3399FF
}

a:visited {
    color: #33AAAA
}

.pageTitle {
    font-size: 50px;
    color: #FFF;
    /*-webkit-text-stroke: 1px black;*/
    text-shadow: 2px 2px 4px #000000;
    background-image: url("media/morning_machine_crop.jpg");
    background-size: cover;
}

.pageTitle .catalogTitle {
    background-image: url("media/novideo_bad.jpg");
    background-size: cover;
    padding: 50px;
}

.tldr {
    text-align: center;
    color: #FFF;
    background-color: #000;
}

#catalogList {
    text-align: center;
    list-style-type: none;
    line-height: 200%;
    /*border-style: solid;*/
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 1px;
    margin-right: 10%;
    margin-left: 10%;
}

#catalogItemDesc {
    font-size:16px;
    line-height:25px;
}

#centerList {
    text-align: center;
    list-style-type: none;
    line-height: 200%;
    /*border-style: solid;*/
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 1px;
    margin-right: 10%;
    margin-left: 10%;
}
