html * {
    font-family: "monospace";
    margin-top: 0;
}

body {
    font-size: 24px;
    text-align: center;
    margin: 0;
    margin-top: 0;
    background-color: #222;
    color: #FFF;
    max-width: 1000px;
    margin: auto;
}

a {
    text-decoration: none;
}

a:link {
    color: #3399FF
}

a:visited {
    color: #33AAAA
}

.pageTitle {
    font-size: 50px;
    color: #FFF;
    /*-webkit-text-stroke: 1px black;*/
    text-shadow: 2px 2px 4px #000000;
    background-image: url("media/morning_machine_crop.jpg");
    background-size: cover;
}

.pageTitle .catalogTitle {
    background-image: url("media/novideo_bad.jpg");
    background-size: cover;
    padding: 50px;
}

.tldr {
    text-align: center;
    color: #FFF;
    background-color: #000;
}

#catalogList {
    text-align: center;
    list-style-type: none;
    line-height: 200%;
    /*border-style: solid;*/
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 1px;
    margin-right: 10%;
    margin-left: 10%;
}

#catalogItemDesc {
    font-size:16px;
    line-height:25px;
}

#centerList {
    text-align: center;
    list-style-type: none;
    line-height: 200%;
    /*border-style: solid;*/
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 1px;
    margin-right: 10%;
    margin-left: 10%;
}


ul.horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align:center;
    /* background-color: #333; */
}

ul.horizontal li {
    /* float: left; */
    display:inline;   
}

ul.horizontal li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    display:inline-block;
}

ul.horizontal li a:hover:not(.active) {
    background-color: #000;
}

ul.horizontal li a.active {
    background-color:#3399FF;
}
